<div class = "content"  [style.background-color]="'lightgray'">
    <div [ngStyle]="{'color': 'orange', margin: '8px', padding: '8px'}">
        <h2>Flight Number: {{missions.flight_number}}</h2>
        <h2>Crew: {{missions.crew}}</h2>
        <h2>Details: {{missions.details}}</h2>
        <h2>Is Tentative: {{missions.is_tentative}}</h2>
        <h2>Launch date local: {{missions.launch_date_local}}</h2>
        <h2>Mission Name: {{missions.mission_name}}</h2>
        <h2>Launch_year: {{missions.launch_year}}</h2>            
        <h2>Tentative max precision: {{missions.tentative_max_precision}}</h2>    
        <h2>Launch date utc: {{missions.launch_date_utc}}</h2>
    </div>
</div>
